@charset "UTF-8";
.navbar .logo,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
.best_review .btn_more,.buttons a,.tbl .btn_detail{font-family:inherit;text-decoration:none}
.buttons a,.pagination a,.review-author,.review-body a,.tbl .btn_detail,footer a{text-decoration:none}
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}


@font-face {
    font-family: 'open_sans_regular';
    src: url('/font/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

https://static.goselly.com/fonts/OpenSans-ExtraBold.woff

@font-face {
    font-family: 'open_sans_bold';
    src: url('/font/OpenSans-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans_semibold';
    src: url('/font/OpenSans-Semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans_bare';
    src: url('https://s3.amazonaws.com/static.goselly.com/fonts/OpenSans-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans_cdn';
    src: url('https://static.goselly.com/fonts/OpenSans-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{line-height:1}

ol,ul{list-style:none}

blockquote,q{quotes:none}

blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}

table{border-collapse:collapse;border-spacing:0}

header{background-color:#00C9C9}

.navbar{position:relative;width:100%;height:61px;overflow:hidden}

.navbar .logo{background-image:url(/images/goselly-logo.png);background-size:93px;width:93px;height:25px;text-indent:-9999em;overflow:hidden;margin:17px auto 0}

.product_img,.product_info{border-collapse:collapse;display:table-cell}

.navbar .previous,.navbar .share{position:absolute;top:15px;background-size:30px;width:30px;height:30px;text-indent:-9999em;overflow:hidden}

.navbar .title {
    font-family: 'open_sans_semibold';
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-align:center;
    margin-top: 20px;
}

.navbar .share{right:15px;background-image:url(/images/100_100_share.png)}

.navbar .previous{left:15px;background-image:url(/images/back_btn.png)}

.content,footer,header{min-width:320px}

.content{max-width:640px;margin:0 auto}

.product_img img,.product_info{max-width:100%}

.product{margin:20px 20px 0}

.product_img{vertical-align:top;width:105px}

.product_info{padding:0 0 0 20px;margin:0;border:0}

.product_name {
    font-family: 'open_sans_semibold';
    font-size:16px;
    font-weight:600;
    line-height:1.2;
    margin:5px 0;
}

.vendor_name {
    font-family: 'open_sans_regular';
    color:#A9A9A9;
    font-size:12px;
}

.reviews {
    font-family: 'open_sans_regular';
    margin:10px 0;
}

.reviews>span{display:inline-block;color:#F67400;font-size:14px;vertical-align:top;padding-top:5px}

.reviews i,.reviews i>span{display:inline-block;background-image:url(/images/70_70_star_review_vacant.png);background-size:20px;background-repeat:repeat-x;width:100px;height:20px}

.reviews i>span{background-image:url(/images/70_70_star_review_full.png)}

.reviews i>span.s_0_0{width:0}

.reviews i>span.s_0_5{width:10%}

.reviews i>span.s_1_0{width:20%}

.reviews i>span.s_1_5{width:30%}

.reviews i>span.s_2_0{width:40%}

.reviews i>span.s_2_5{width:50%}

.reviews i>span.s_3_0{width:60%}

.reviews i>span.s_3_5{width:70%}

.reviews i>span.s_4_0{width:80%}

.reviews i>span.s_4_5{width:90%}

.reviews i>span.s_5_0{width:100%}.buttons{margin:10px 0 20px}

.buttons a{display:inline-block;font-size:100%;padding:.5em 1em;border:2px solid #A2A4A6;border-radius:4px}

.buttons .btn_detail {
    font-family: 'open_sans_semibold';
    background-color:#FFF;
    color:#9E9E9E;
}

.buttons .btn_amz {
    font-family: 'open_sans_semibold';
    background-color:#00C9C9;
    border-color:#00C9C9;
    color:#FFF;
}

.best_review{background-color:#F2F2F2;margin:20px 0 0;padding-bottom:20px}

.best_review .title{
    font-family: 'open_sans_bold';
    color:#25272A;
    font-size:16px;
    font-weight:600;
    padding:20px 0 10px 10px;
}

.best_review ul{overflow:hidden}

.best_review li{margin:0}

.best_review li img{width:100%;display:#000!important}

.best_review li:first-child{width:100%}
.best_review li{float:left;width:50%}

.best_review .btn_more{display:block;font-size:100%;padding:1em;border:none;background-image:url(/images/100_100_arrow_main_more.png);background-size:30px;background-repeat:no-repeat;background-position:right 8px;background-color:#121212;border-right:5px solid transparent;color:#FFF;font-weight:600;text-align:center;border-radius:4px;margin:20px 20px 0}

.comment .title {
    font-family: 'open_sans_semibold';
    color:#25272A;
    font-size:16px;
    font-weight:600;
    padding:20px 0 10px 20px;
}

.product-detail .product_img{display:block;width:100%;text-align:center}

.tbl{margin:15px 20px;color:#212121}

.tbl td, .tbl th {
    font-family: 'open_sans_regular';
    line-height:1.4;
    padding-bottom:15px;
}

.tbl th {
    text-align:left;
    width:100px;
}

.product-detail .buttons,.product-review .buttons{margin:0 20px 30px}

.tbl .btn_detail{width:100%;display:block;font-size:100%;padding:.5em 1em;border:2px solid #A2A4A6;background-color:#FFF;color:#212121;text-align:center;box-sizing:border-box;margin-top:30px}

.product-detail .buttons .btn_amz,.product-review .buttons .btn_amz{width:100%;background-color:#00C9C9;border-color:#00C9C9;color:#FFF;text-align:center;padding:1em;box-sizing:border-box}

.reviews-average{font-size:18px;text-align:center;margin:30px 0 0}

.reviews-average i{text-align:left}

.center,footer{text-align:center}

.reviews-average span{color:#000;font-size:18px;font-weight:600;padding-left:5px}

.reviews-average div{font-weight:500;margin-top:5px}

.review-data,.review-list .reviews span{font-weight:600}

.review-list{margin:20px}

.review-content{border-bottom:1px solid #DBDBDB;padding:20px 0}

.review-author{color:#015AAF}

.review-data{color:#212121;padding-bottom:5px}

.review-list .reviews{margin:5px 0 10px}

.review-body{color:#212121;line-height:1.4}

.review-body a{color:#CCC}

footer {
    font-family: 'open_sans_regular';
    background-color: #00C9C9;
    color: #FFF;
    line-height: 1.6;
    padding: 50px 0;
}

footer a {
    color: #FFF;
}

.outlink{width:320px;margin:0 auto 30px;overflow:hidden}

.outlink li{float:left;margin:0 15px}

.outlink a{display:inline-block;background-size:50px;width:50px;height:50px;text-indent:-9999em;overflow:hidden}

.outlink a.f{background-image:url(/images/120_120_social_facebook_icon.png)}

.outlink a.t{background-image:url(/images/120_120_social_twitter_icon.png)}

.outlink a.i{background-image:url(/images/120_120_social_instargram_icon.png)}

.outlink a.y{background-image:url(/images/120_120_social_youtube_icon.png)}

.pagination{display:inline-block;margin-bottom:20px}

.pagination a{color:#000;font-size:14px;float:left;padding:8px 10px;background-color:#F3F3F3;transition:background-color .3s;border:1px solid transparent;margin:0 4px;border-radius:5px}

.pagination a.active{background-color:#4CAF50;color:#fff;border:1px solid #4CAF50}

.pagination a:hover:not(.active){background-color:#ddd}

.pagination a:first-child,.pagination a:last-child{border:1px solid #ddd;background-color:#FFF;background-size:30px;background-repeat:none;width:10px;text-indent:-9999em;overflow:hidden}

.pagination a:first-child{background-image:url(/images/100_100_back_touch.png)}

.pagination a:last-child{background-image:url(/images/100_100_next_touch.png)}

footer .nav {
    font-family: 'open_sans_semibold';
    margin-bottom:20px;
}

footer .nav a {
    padding:0 5px;
}